.App {
  text-align: center;
  background-image: './images/bg-picture.jpg';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  background-color: #a12312;
}

.base{
  height: 100%;
  width: 100%;
}

.link0, .link1, .link2, .menu0, .menu1, .menu2{
  outline: none;
  text-decoration: none;
  color: white;
}